html, body {
    background-color: #f5f5f5;
    color: #636b6f;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.normal-font {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #636b6f;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links a {
    color: #636b6f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.m-b-md {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}

footer {
    clear: both;
    text-align: left;
    font-size: 12px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    background: #333;
    color: #ccc;
    z-index: 20;
}
.padding-top-20 {
    padding-top: 20px;
}
.color-android {
    color: #A4C639;
}
.padding-10 {
    padding: 10px;
}
.footer {
    position: relative;
    bottom: 0;
}
footer.footer a.btn-link {
    color: #ccc;
}
footer.footer a.btn-link:hover {
    color: #fff;
    text-decoration: none;
}
.border-right-black {
    border-right: 1px solid black;
}
.blue-background {
    background-color: #004ea0;
}
@media(max-width: 560px) {
    .title {
        font-size: 56px;
    }
    .border-right-black {
        border-right: 0;
    }
}